<!-- if not logged in -->
<div class="landingBackgroundNoLogIn" ng-hide="user.name">
	<div class="clearfix"></div>
	<div class="welcome" ng-hide="user.name">
		<h1>Welcome!</h1>
		<h2>Please log in with your Strava Account</h2>
		<a href="" ng-click="loginUser()" id="loginButton"><img ng-src="{{logoSrc}}"></a>
		<div class="aboutSite">
			<h1 ng-click="showAbout = ! showAbout">About</h1>
			<div class="aboutText" ng-show="showAbout">
				<p>Cycle Walk came about when I realized there was a gap between recording your actual workouts, and the "other" activities in your daily life. The mission of this application is to give you a better understanding of how life's daily activities, such as sleep and walking, might be affecting your "real" workouts. It automatically pulls your activity data from both Strava and Fitbit, and then calculates your overall "fatigue" based on sleep, steps, and your workouts. Each metric is given a different value, and the fatigue score is cumulative, constantly rising and falling.
				You can gain insights into why you may be tired or feel better on a particular day by looking at what life has thrown  at you in the "other" activities category, and use this to continue to improve your overall health.
				If you have step data from Fitbit, connect with the application once you have logged in with Strava, and it will automatically pull steps and sleep from there.
				Alternatively, you can manually enter steps and sleep for each day, or simply go with the pre-determined selectors.
				More features will be added as they become available, such as connecting to Garmin's API, and tweaking the overall fatigue score algorithm. </p>
		</div>
	</div>
	
</div>

</div>
<!-- if logged in -->
<div class="landingBackgroundLoggedIn">
	<div ng-show="user.name">
		<h1>Welcome back, {{user.name}}</h1>
	</div>
</div>

